# Python and environments
__pycache__/
*.py[cod]
.venv/
venv/
env/
.vscode/
.pytest_cache/

# Data e Vector Database
data/pdfs/*
data/chroma_db/*
tests/data/chroma_db/*

# Secret keys
.env

# Build artifacts
*.egg-info/
dist/
build/

# Test / coverage
.coverage
htmlcov/

# Type checking / linting
.mypy_cache/
.ruff_cache/

# Logs and databases
*.log
*.db

# OS files
.DS_Store

# Other
notes.txt
.agents
.claude
debug

# deprecated
old_frontend/