# Python and environments
__pycache__/
*.py[cod]
.venv/
venv/
env/
.vscode/
.pytest_cache/

# Data e Vector Database
data/pdfs/*
data/chroma_db/*
tests/data/chroma_db/*

# Secret keys
.env

# Other
notes.txt
.agents
.claude